Options +FollowSymlinks
RewriteEngine on
RewriteRule ^/$ index.html [nc],
RewriteRule ^databooking$ databooking.html [nc],
RewriteRule ^datapackage$ datapakage.html [nc],
RewriteRule ^datadestination$ datadestination.html [nc],
RewriteRule ^adddestination$ adddestination.html [nc],
RewriteRule ^updatedestination$ updatedestination.html [nc],
RewriteRule ^setdesrun$ setdesrun.html [nc],